body {
  padding: 100px;
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
p {
  margin: 3px;
}
li {
  margin-top: 10px;
}
.green-title {
  color: green;
  margin-top: 10px;
  margin-bottom: 20px;
}

.blue-title {
  color: rgb(69, 69, 255);
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.page-container {
  border-style: solid;
  padding-right: 10px;
  width: 70%;
}
hr {
  margin-top: 100px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.inner-group {
  width: 60%;
  margin: 60px;
}
